<div class="view-selector">
  <button class="view-choice" (click)="changeView(1)">
    <h4>World Regions</h4>
  </button>
  <button class="view-choice" (click)="changeView(2)">
    <h4>Marglinalized Sectors</h4>
  </button>
  <button class="view-choice" (click)="changeView(3)">
    <h4>Curricular Elements</h4>
  </button>
  <button class="view-choice" (click)="changeView(4)">
    <h4>Member Types</h4>
  </button>
  <button class="view-choice" (click)="changeView(5)">
    <h4>Engagement Types</h4>
  </button>
  <button class="view-choice" (click)="changeGraph()">
    <h4>Change Graph</h4>
  </button>
</div>
