

<!-- Views section goes in here; Default view is the interactive map (no filters) -->
<ng-container>
    <ng-template [ngIf]="true">
        <engagement-views></engagement-views>
    </ng-template>
</ng-container>


<ng-template *ngIf="false">
    <div class="dashboard">
        <div class="db-header">
            <h1>Related Social Engagements</h1>
        </div>
        <div class="head-divider"></div>
        <div class="feed">
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
            <div class="act"></div>
        </div>
    </div>
</ng-template>